<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <% if product.images.present? %>
          <%= image_tag(product.images.first.image.url(:mini)) %>
        <% else %>
          <%= image_tag 'no-photo.png' %>
        <% end %>
        <h2><%= product.price %> грн.</h2>
        <p><%= product.title %></p>
        <%= link_to(product_path(product), :remote => false, class: "btn btn-default add-to-cart") do %>
          <i class='fa fa-shopping-cart'></i>Подробнее
        <% end %>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2><%= product.price %> грн.</h2>
          <p><%= product.title %></p>
            <%= link_to(product_path(product), :remote => false, class: "btn btn-default add-to-cart") do %>
              <i class='fa fa-shopping-cart'></i>Подробнее
            <% end %>
        </div>
      </div>
    </div>
    <div class="choose">
      <ul>
        <li>
            <%= link_to(new_product_order_path(product)) do %>
              <i class="fa fa-plus-square"></i>Купить
            <% end %>
        </li>
        <li>
          <% if product.tag_list.present? %>
            <a><i class="fa fa-tags"></i><%= product.tag_list %>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>




