<section>
  <div class="padding-right row product-details"><!--product-details-->
    <div class="col-sm-5">
      <div id="product-images">
        <div id="product-big-image" class='tmb tmb-big'>
          <% if @product.images.present? %>
            <% @product.images.each do |image| %>
              <a href="<%= image.image.url() %>" data-lightbox="roadtrip">
                <% if image == @product.images.first %>
                  <%= image_tag(image.image.url(), class: 'img-show active', id: 'img' + image.id.to_s) %>
                <% else %>
                  <%= image_tag(image.image.url(), class: 'img-show', id: 'img' + image.id.to_s) %>
                <% end %>
              </a>
            <% end %>
          <% else %>
            <%= image_tag 'no-photo.png' %>
          <% end %>
        </div>
        <ul id="product-thumbnails" class="thumbnails list-inline" data-hook="">
          <% @product.images.each do |image| %>
            <li class="tmb">
              <%= image_tag(image.image.url(:thumb), data: image.id ) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="product-information"><!--/product-information-->
        <h2><%= @product.title %></h2>
          <span class='price'><%= @product.price %> грн.</span>
            <%= link_to(new_product_order_path(@product), class: "btn btn-fefault cart", type: "button") do %>
             <i class="fa fa-shopping-cart"></i>
               Купить
            <% end %>
            <br>
        <p><b>Описание:</b></p>
        <p><%= @product.description %></p>
        <p>
          <% @product.tag_list.split do |tag| %>
            <i class="fa fa-tags"></i>
              <%= link_to tag, tag_products_path(tag), class: 'taglist-link' %>
            <% end %>
        </p>
      </div><!--/product-information-->
    </div>
  </div>
</section>